body {
    background-color: #2B2B2B;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #DFE0E0;
}

/* Header */

#header {
    font-size: 20px;
    background-color: #369D8A;
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
}

#header div {
    display: inline;
}

/* Columns */

#columns {
    overflow: hidden;
}

.column {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #left {
        float: left;
        width: 25%;
    }
    
    #center {
        width: 45%;
        display: inline-block;
    }
    
    #right {
        width: 30%;
        float: right;
    }
}

/* Widgets */

.widget {
    display: block;
    background-color: #2F3439;
    padding: 5px;
    border-radius: 5px;
}

.widget h1 {
    font-size: 15px;
    padding: 5px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .widget {
        margin-right: 10px;
    }

    .widget-clear {
        margin-right: 0;    
    }
}

/* Buttons */

.button {
    display: block;
    border-radius: 5px;
    padding: 15px;
    background-color: #EE7147;
    color: #EEEEEE;
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #369D8A;
}
